body {
    font-family: Arial, sans-serif;
    background-color: #a1005e;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #e83e21;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffa400;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e19200;
}

button:active {
    background-color: #e19200;
}

.error-message {
    color: white;
    background-color: #ff6961; 
    border: 1px solid #e74c3c; 
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}

